replicaCount: 2

image:
  repository: aadan1lov/muffin-currency
  tag: "1.0.0"
  pullPolicy: IfNotPresent

serviceAccount:
  create: true
  name: ""

service:
  type: ClusterIP
  port: 8083
  targetPort: 8080
