replicaCount: 3

image:
  repository: aadan1lov/muffin-wallet
  tag: "1.1.0"
  pullPolicy: Always

serviceAccount:
  create: true
  name: ""

# Порт внутри контейнера
containerPort: 8081

service:
  type: ClusterIP
  port: 80
  targetPort: 8081

resources:
  requests:
    cpu: "200m"
    memory: "256Mi"
  limits:
    cpu: "500m"
    memory: "512Mi"

livenessProbe:
  path: "/actuator/health"
  initialDelaySeconds: 60
  periodSeconds: 10
  failureThreshold: 3

readinessProbe:
  path: "/actuator/health"
  initialDelaySeconds: 30
  periodSeconds: 5
  failureThreshold: 3

podAnnotations:
  prometheus.io/scrape: "true"
  prometheus.io/port: "8081"
  prometheus.io/path: "/actuator/prometheus"
  proxy.istio.io/config: |
    proxyMetadata:
      ISTIO_META_DNS_CAPTURE: "true"
    holdApplicationUntilProxyStarts: true

# Настройки внешней БД
db:
  host: "db.example.com"
  port: 5432
  name: "muffin_wallet"
  user: "muffin-wallet"
  password: "muffin-wallet"

config:
  applicationYaml: |
    # (Не обязательно) application.yaml для наглядности.
    spring.datasource.url: "jdbc:postgresql://db.example.com:5432/muffin_wallet"
    spring.datasource.username: "muffin-wallet"
    spring.datasource.password: "muffin-wallet"
    spring.jpa.database-platform: org.hibernate.dialect.PostgreSQLDialect
    currency.service.url: "http://muffin-currency.muffin.svc.cluster.local:8083"

  env:
    SPRING_CONFIG_ADDITIONAL_LOCATION: "/app/config/"
    CURRENCY_SERVICE_URL: "http://muffin-currency.muffin.svc.cluster.local:8083"